body{
    background-color: black;
    color: aqua;}
    h1{
    text-align: center;
}
.bgroup1 button{
    text-align: center;
    border:2px solid black;
    background-color: transparent;
    color: lime;
    padding:15px 24px;
    cursor: pointer;
    width: 24%;
    display: inline-block;
    font-size: 20px;

}

.bgroup button{
    text-align: left;
    background-color: transparent;
    border: 2px solid aqua;
    font-family: serif;
    
    color: white;
    padding:15px 24px;
    cursor: pointer;
    width: 24%;
    display: inline-block;
    font-size: 14px;

}
.bgroup button:not(:last-child){
    /* border-bottom: none; */
}
.bgroup button:hover{
    background-color:lime;
    color:black; 
}
.bgroup button:active
{
    background-color:gold;
}
.b2group button{
    text-align: left;
    background-color: transparent;
    border: 2px solid aqua;
    font-family: serif;
    
    color: whitesmoke;
    padding:15px 24px;
    cursor: pointer;
    width: 24%;
    display: inline-block;
    font-size: 14x;

}
.b2group button:not(:last-child){
    /* border-bottom: none; */
}
.b2group button:hover{
    background-color:lime;
    color: orange; 
}
.b2group button:active
{
    background-color:gold;
}
